.cards {
  display: flex;
  flex-direction: column;
  padding: 0 70px 80px;
  max-width: 1280px;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: repeat(auto-fill, 218px);
  grid-auto-flow: row;
  grid-auto-flow: 257px;
  gap: 38px 20px;
  margin: 0 auto;
  max-width: 100%;

}

.cards__more-button {
  margin: 50px 0 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 36px;
  background-color: #F9F9F9;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.cards__more-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cards__not-found {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  background: #fbf9f9;
  color: #838383;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .cards__container {
    gap: 30px 15px;
  }
}

@media screen and (max-width: 768px) {
  .cards__container {
    grid-template-columns: repeat(auto-fill, 339px);
    grid-template-rows: repeat(auto-fill, 257px);
    grid-auto-flow: row;
    grid-auto-flow: 235px;
    gap: 30px;
    max-width: 100%;
  }

  .cards {
    padding: 60px 10px 80px;

  }

  .cards__more-button {
    width: 100%;
  }
}

@media screen and (max-width: 377px) {
  .cards__container {
    grid-template-columns: repeat(auto-fit, 300px);
    /* grid-template-rows: repeat(auto-fit, 235px); */
    grid-auto-flow: row;
    grid-auto-flow: 235px;
    max-width: 100%;
  }

  .cards {
    padding: 40px 10px 80px;

  }

  .cards__more-button {
    width: 100%;
  }
}