.search {
    display: flex;
    justify-content: stretch;
    margin: 0 auto;
    padding: 80px 70px 94px;
    max-width: 1280px;
}

.search__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border-bottom: solid 1px #E8E8E8;
    min-width: 100%;
}

.search__form {
    min-height: 46px;
    background: #FFFFFF;
    margin: auto;
    width: 100%;
}

.search__form-label {
    display: flex;
    color: #000000;
    position: relative;
    width: 100%;
}

.search__form-input {
    width: 100%;
    border: none;
    margin-right: 76px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding-left: 22px;
    color: #8B8B8B;
    background-color: #F9F9F9;
    min-height: 48px;   
}

.search__form-input:focus {
    font-weight: 500;
}

.search__button {
    margin: 0;
    height: 44px;
    width: 70px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    background-color: #3456F3;
    color: #FFFFFF;
    border-radius: 50px;
    border: none;
    position: absolute;
    top: 3px;
    right: 1px;
}

.search__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.search__button_disabled {
    background: #888888;
}

.search__button_disabled:hover {
    cursor: default;
    opacity: 1;
}

@media screen and (max-width: 1237px) {
    .search {
        padding: 60px 30px 10px;
    }
}


@media screen and (max-width: 768px) {
    .search {
        padding: 60px 30px 68px;
        box-sizing: border-box;
    }

    .search__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .search__form-input {
        width: 100%;
        font-size: 11px;
        margin: 0;
        margin-bottom: 38px;
        margin-right: 76px;
    }

    .search__form {
        width: 100%;
        min-height: 46px;
        margin: auto;

    }
}

@media screen and (max-width: 320px) {
    .search {
        padding: 60px 10px 10px;
    }

    .search__container {
        min-width: 300px;
    }
}