.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 70px;
  height: 172px;
}

.footer__title {
  display: flex;
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
;
}

.footer__links-bar {
  margin: 0;
  display: flex;
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E8E8E8;
  height: 56px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__copyright {
  display: flex;
  margin: 0;
  color:#000000
}

.footer__navtab {
  display: flex;
  margin: 0;
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  margin: 0;
  padding: 0;

}

.footer__links-item {
  display: flex;
  margin: 0;
}

.footer__link {
  display: flex;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  text-decoration: none;
  color: #000000;
}

.footer__link:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 30px;
  }
}

@media screen and (max-width: 577px) {
  .footer {
    padding: 0 10px 10px;
    height: 270px;
    justify-content: center;
  }

  .footer__title {
    margin: 0 0 21px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__links-bar {
    flex-direction: column-reverse;
    border-top: 1px solid #424242;
    height: auto;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    color: #8B8B8B;
  }

  .footer__navtab {
    padding: 30px 0;
  }

  .footer__links {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 12px;
  }

  .footer__links-item {
    justify-content: center;
  }
}