.sidebar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.sidebar_opened {
  visibility: visible;
  opacity: 1;
}

.sidebar__container {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 520px;
  background-color: #FFFFFF;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.sidebar__close-button {
  display: flex;
  position: fixed;
  top: 22.44px;
  right: 22.44px;
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
  background-image: url(../../images/sidebar-cross.svg);
  background-size: contain;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.sidebar__close-button:hover {
  opacity: .8;
}

.sidebar__navigation {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  padding: 159px 0 90px 0;
}

.sidebar__links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.sidebar__li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px 0 0 0;
  padding: 0;
}

.sidebar__li:first-of-type {
  margin: 0;
}

.sidebar__link {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.sidebar__link:hover {
  opacity: 0.7;
}


.sidebar__link_active {
  border-bottom: solid 2px #000000;
}

.sidebar__li_account-button {
  margin: auto 0 0 0;
}

.sidebar__link_account-button {
  width: 100px;
  height: 32px;
  background: #F5F5F5;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.sidebar__link_account-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 647px) {
  .sidebar__close-button {
    top: 13.44px;
    right: 13.44px;
  }

  .sidebar__navigation {
    padding: 144px 0 46px 0;
  }

  .sidebar__li {
    margin: 24px 0 0 0;
  }

  .sidebar__li_account-button {
    margin: auto 0 0 0;
  }
}