.button__more {
    display: flex;
    padding: 0 70px 80px;
    margin: 0 auto;
    max-width: 320px;
}

.button__cards-more {
    margin: 50px 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 36px;
    background-color: #F9F9F9;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.button__cards-more:hover {
    cursor: pointer;
    opacity: 0.8;
}


@media screen and (max-width: 768px) {
    .button__more {
        padding: 0 30px 80px;
    }

    .button__cards-more {
        width: 100%;
    }
}


@media screen and (max-width: 320px) {
    .button__more {
        max-width: 240px;
        padding: 0 10px 80px;
    }

    .button__cards-more  {
        width: 100%;
        margin: 0;
    }
}