.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 70px 70px 80px;
    justify-content: flex-start;
    align-items: center;
    transition: .4s;
  }
  
  .cards__container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 38px 20px;
    width: 100%;
    transition: .4s;
  }
  
  .cards__more-button {
    cursor: pointer;
    margin: 50px 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 36px;
    background: inherit;
    border: solid 1px #424242;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    transition: .4s;
  }
  
  .cards__more-button:hover {
    opacity: 0.8;
  }
  
  @media screen and (max-width: 1297px) {
    .cards__container {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }
  
  @media screen and (max-width: 1237px) {
    .cards__container {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  
    .cards {
      padding: 70px 30px 80px;
  
    }
  }
  
  @media screen and (max-width: 785px) {
    .cards__container {
      grid-template-columns: 1fr;
      gap: 34px;
    }
  
    .cards {
      padding: 40px 10px 80px;
  
    }
  
    .cards__more-button {
      width: 240px;
    }
  }
  