.aboutme {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  align-self: stretch;
}

.aboutme__title-container {
  margin: 0 auto;
  padding: 110px 70px 0;
}

.aboutme__title {
  margin: 0 auto;
  padding: 0 0 23px;
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
}

.aboutme__info-container {
  padding: 66px 70px 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #000;
}

.about__infо-me {
  display: grid;
  grid-template-rows: repeat(4, auto);
}

.aboutme__name {
  display: flex;
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

.aboutme__profession {
  margin: 18px 0 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.aboutme__info-text {
  margin: 26px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  max-width: 600px;
}

.aboutme__links {
  margin: 120px 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 20px;
}

.aboutme__links-item {
  list-style-type: none;
}

.aboutme__links-item:hover {
  cursor: pointer;
  opacity: .7;
}

.aboutme__links-item a {
  list-style-type: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  font-weight: 500;
}

.aboutme__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  margin-left: 270px;
}


@media screen and (max-width: 1024px) {
  .aboutme__photo {
    margin-left: 90px;
  }

  .aboutme__links {
    margin: 80px 0 0 0;
  }


  .aboutme__info-text {
    max-width: 364px;
  }

  .aboutme__links {
    margin: 40px 0 0 0;
  }
}


@media screen and (max-width: 768px) {

  .aboutme__title-container {
    padding: 66px 50px 0;
  }


  .aboutme__info-container {
    padding: 66px 50px 100px;
    gap: 10px;
    margin: 0 auto;
    color: #000;
  }

  .aboutme__name {
    font-size: 40px;
    line-height: 40px;
  }


  .aboutme__photo {
    width: 255px;
    height: 307px;
    margin-left: 49px;
  }

  .aboutme__info-text {
    font-size: 12px;
    line-height: 18px;
    max-width: 364px;
  }

  .aboutme__links {
    margin: 98px 0 0 0;
  }
}

@media screen and (max-width: 576px) {

  .aboutme__title-container {
    padding: 66px 18px 0;
  }


  .aboutme__info-container {
    padding: 66px 18px 100px;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
    color: #000;
  }

  .aboutme__name {
    margin-top: 40px;
    font-size: 40px;
    line-height: 40px;
  }


  .aboutme__photo {
    width: 255px;
    height: 307px;
    margin: 0;
  }

  .aboutme__info-text {
    font-size: 12px;
    line-height: 18px;
  }

  .aboutme__links {
    margin: 40px 0 0;
  }
}

